<!DOCTYPE html>
<html>
  <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title></title>
  </head>

  <body>
        <p>Hello <%= @sender_name%>,</p>

        <p>Thank you for getting in touch with us! The following message has been sent from the Contact Us form:</p>
        <ul>
            <p>Name: <%= @sender_name%></p>
            <p>Email: <%= @sender_email%></p>
            <p>Subject: <%= @subject%></p>
            <p>Message: <br> <%= @message%></p>
        </ul>

        <p>We will get back to you as soon as possible.</p>
        <p>Best regards,<br>The Give Hope</p>

        <img src="https://github.com/astronaut-nemo/phase-5-sendgrid-test/blob/main/app/views/user_notifier_mailer/Email%20Banner.png?raw=true"/>
  </body>
</html>