<div id="<%= dom_id donation %>">
  <p>
    <strong>Donation amount:</strong>
    <%= donation.donation_amount %>
  </p>

  <p>
    <strong>Anonymous:</strong>
    <%= donation.anonymous %>
  </p>

  <p>
    <strong>Charity:</strong>
    <%= donation.charity_id %>
  </p>

  <p>
    <strong>Donor:</strong>
    <%= donation.donor_id %>
  </p>

</div>
