<%= form_with(model: donation) do |form| %>
  <% if donation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
        <% donation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :donation_amount, style: "display: block" %>
    <%= form.number_field :donation_amount %>
  </div>

  <div>
    <%= form.label :anonymous, style: "display: block" %>
    <%= form.check_box :anonymous %>
  </div>

  <div>
    <%= form.label :charity_id, style: "display: block" %>
    <%= form.number_field :charity_id %>
  </div>

  <div>
    <%= form.label :donor_id, style: "display: block" %>
    <%= form.number_field :donor_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
