<p style="color: green"><%= notice %></p>

<%= render @donation %>

<div>
  <%= link_to "Edit this donation", edit_donation_path(@donation) %> |
  <%= link_to "Back to donations", donations_path %>

  <%= button_to "Destroy this donation", @donation, method: :delete %>
</div>
