<div id="<%= dom_id administrator %>">
  <p>
    <strong>First name:</strong>
    <%= administrator.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= administrator.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= administrator.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= administrator.password %>
  </p>

</div>
