<div id="<%= dom_id charity %>">
  <p>
    <strong>Name:</strong>
    <%= charity.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= charity.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= charity.password %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= charity.description %>
  </p>

  <p>
    <strong>Img url:</strong>
    <%= charity.img_url %>
  </p>

  <p>
    <strong>Goal amount:</strong>
    <%= charity.goal_amount %>
  </p>

  <p>
    <strong>Total donations:</strong>
    <%= charity.total_donations %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= charity.admin_id %>
  </p>

</div>
