<div id="<%= dom_id beneficiary %>">
  <p>
    <strong>Name:</strong>
    <%= beneficiary.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= beneficiary.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= beneficiary.description %>
  </p>

  <p>
    <strong>Items:</strong>
    <%= beneficiary.items %>
  </p>

  <p>
    <strong>Img url:</strong>
    <%= beneficiary.img_url %>
  </p>

  <p>
    <strong>Charity:</strong>
    <%= beneficiary.charity_id %>
  </p>

</div>
