<div id="<%= dom_id donor %>">
  <p>
    <strong>First name:</strong>
    <%= donor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= donor.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= donor.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= donor.password %>
  </p>

</div>
